/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.col-img{
    width: 60%;
    margin-left: 2em;
}

.col-img img{
    height: 70%;
    padding: 8em 0;
    padding-left: 5em;
}

.col-text{
    width: calc(40% - 7em);
    padding: 10em 0;
}

.col-text h2{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
}

.col-text p{
    font-size: 1.3em;
}

.bg-grey{
    background-color: lightgray;
}

.txt-center{
    text-align: center;
}

.txt-box{
    padding-top: 10em;
    width: 50%;
    margin: 0 auto;
}

.txt-box h2{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
    
}

.txt-box p{
    font-size: 1.3em;
}

.container.txt-center img{
    width: 100%;
}

.container.txt-center h3{
    padding: 0.5em 0;
    font-size: 2em;
    font-weight: bold;
}

a.btn.blue{
    background-color: #5865f2;
    color: white;
    margin-bottom: 5em;
}


a.btn.blue:hover,
a.btn.blue:active,
a.btn.blue:focus {
    color: #265ee8;
}

.dark{
    background-color: black;
}

.padd-footer {
    padding-top: 5em;
}

.footer-big-col{
    width: calc( ( (100% / 6) *2 ) - 0.8em );
}

.footer-col{
    width: calc( (100% / 6) - 0.8em );
    margin-left: 0.2em;
    
}

.footer-menu {
    list-style-type: none;
}

.footer-menu li {
    display: block;
    margin: 1em 0; 
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.footer-menu a:hover,
.footer-menu a:active,
.footer-menu a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.container h4, 
.container h5{
    color: #7289DA;
    font-size: 2.5em;
    font-weight: bold;
}

.container h5{
    font-size: 1em;
}

.lingua{
    margin: 1em 0;
}

.lingua img{
    height: 1em;
}

.lingua span{
    color: white;
}

.social{
    list-style: none;
}

.social li{
    display: inline-block;
    margin-right: 1em;
}

.social a{
    color:white;
}



hr {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-width: 1px;
  border-color: #7289DA;
}

.float-right{
    float: right;
}

.bottom-footer{
    margin-top: 2em;
}